datasets/*
.ipynb_checkpoints
.idea
__pycache__

datasets/
tmp_imgs
runs/
runs_last/
saved_models/*
saved_models/
pre_trained/
save_log/*
tmp/*

*.pyc
*.pth
*.png
*.jpg
*.mp4
*.txt
*.json
*.zip
*.mp4
*.csv

!__assets__/lr_inputs/*
!requirements.txt